* {
  /*border: 1px solid red !important;*/
  font-family: "Rajdhani", sans-serif;

  /*background-color: darkgray; */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.img-thumbnail-small {
  max-width: 64px;
  max-height: 64px;
}

.github {
  background-image: url("../images/GitHub-Mark-64px.png");
  display: block;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.linkedin {
  background-image: url("../images/toppng.com-linkedin-square-logo-comments-linkedin-icon-black-981x981.png");
  display: block;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.margin-add {
  margin-bottom: 40px;
}

.margin-top-add {
  margin-top: 40px;
}

img {
  opacity: 0.6;
}

img:hover {
  opacity: 1;
}

a {
  color: black !important;
}

figcaption {
  font-style: italic;
  text-align: center;
}

p {
  text-align: justify;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 5px;
}

li {
  font-size: 18px;
}

.non-opaque {
  opacity: 1;
}

/*
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    p {
        display: none;
    };
}
*/
